<mat-toolbar class="d-flex w-100 justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <button (click)="back()" mat-icon-button>

    <mat-icon aria-label="back">arrow_back_ios</mat-icon>
  </button>


        <span>{{title}}</span>
        <button (click)="home()" mat-icon-button>

            <mat-icon aria-label="home">home</mat-icon>
          </button>
    </div>
    <button (click)="logout()" mat-button>
        <span>Logout</span>
        &nbsp;
        <mat-icon aria-label="logout">logout</mat-icon>
      </button>
</mat-toolbar>