<div class="d-flex flex-wrap justify-content-center">

    <button class="m-3" *ngFor="let item of list" (click)="onItemEvent(item)" mat-raised-button color="primary">{{item[buttonLabelKey]}}</button>

</div>