.resize-drag {
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    /* This makes things *much* easier */
    box-sizing: border-box;
    z-index: 10;
    position: absolute;
}