<mat-card class="m-3">
    <mat-card-header class="d-flex align-items-center">
        <mat-card-title>Picture Labeling</mat-card-title>
        <mat-card-subtitle *ngIf='itemData'>{{itemData.questionText}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button class='m-3' (click)="saveOptions(option)" mat-raised-button color="primary">Save Selection Region</button>
    </mat-card-actions>
    <mat-card-content class="">
        <mat-card-content class="d-flex justify-content-center">
            <div style="position:relative;height:500px;width:700px;background-color: grey" class="o-hidden">
                <div style="position: relative;z-index: 10;background-color: transparent" class="drag-con h-100 w-100">
                    <div class="resize-drag">
                    </div>
                    <div *ngIf="savedRegion" [ngStyle]="{'top': savedRegion.pery,'left': savedRegion.perx,'height': savedRegion.perh,'width': savedRegion.perw}" style="border:6px solid tomato;position: absolute;z-index:1"></div>
                </div>
                <div style="position:absolute;z-index: 1;top:0;left:0" class="img-con h-100 w-100">
                    <img *ngIf='itemData && itemData.imageUrl' src="{{itemData.imageUrl}}" class="h-100 w-100" alt="">
                </div>
            </div>
        </mat-card-content>
    </mat-card-content>
</mat-card>