<div class="h-100 d-flex flex-column 0-hidden w-100">
    <div style="background-color: transparent;position:relative;top:0;left:0;z-index:2" class="d-flex flex-1 flex-column 0-hidden justify-content-center align-items-center">
        <jitsu-fire-login [firebase]='firebase' (onLoginEvent)="onLoginEvent($event)"></jitsu-fire-login>
    </div>
</div>