<mat-card class="m-3">
    <mat-card-actions>
        <input (change)="onImageInputUpdate($event)" style="display: none" id="input-file-id" type="file" />
        <label for="input-file-id" class="mat-button mat-raised-button mat-primary"> Upload Image </label>
    </mat-card-actions>
    <mat-card-content>
        <div *ngIf="imagePreview.length>0">
            <hr/>
            <div class="w-100 d-flex justify-content-center">
                <img style="width: 700px;height: 500px;" src="{{imagePreview}}" alt="">
            </div>
            <div>
                <hr/>
                <button (click)="cancelUploaded()" mat-button>Cancel</button>
                <button (click)="uploadImage()" mat-button>Upload</button>
                <hr/>
            </div>
        </div>
    </mat-card-content>
</mat-card>