<div>
    <mat-card class="m-3">
        <mat-card-header>
            <mat-card-title>Question templates</mat-card-title>
        </mat-card-header>
        <mat-card-content class='d-flex flex-wrap'>
            <button (click)="selectQuestionTemplate('Basic')" class='m-3' mat-raised-button color="{{(!questionTemplate  ||  questionTemplate=='Basic' ) ? 'primary':'default'}}">Basic</button>
            <button (click)="selectQuestionTemplate('YesOrNo')" class='m-3' mat-raised-button color="{{ questionTemplate=='YesOrNo' ? 'primary':'default'}}">Yes or No</button>
            <button (click)="selectQuestionTemplate('MultipleChoice')" class='m-3' mat-raised-button color="{{ questionTemplate=='MultipleChoice' ? 'primary':'default'}}">Multiple Choice</button>
            <button (click)="selectQuestionTemplate('PictureLabeling')" class='m-3' mat-raised-button color="{{ questionTemplate=='PictureLabeling' ? 'primary':'default'}}">Picture labeling</button>
            <button (click)="selectQuestionTemplate('AudioInput')" class='m-3' mat-raised-button color="{{ questionTemplate=='AudioInput' ? 'primary':'default'}}">Audio Input</button>
        </mat-card-content>
    </mat-card>
    <multiple-choice-options [props]='props' *ngIf="questionTemplate=='MultipleChoice'"></multiple-choice-options>
    <picture-labeling [props]='props' *ngIf="questionTemplate=='PictureLabeling'"></picture-labeling>
</div>