<div class="w-100 d-flex">
    <mat-form-field class="w-100">
        <input (keyup)="onInputChange($event)" [(ngModel)]="inputText" matInput placeholder="{{placeholder}}">
    </mat-form-field>
</div>

<div class="w-100 d-flex justify-content-center">
    <img style="width: 500px;height: 300px;" *ngIf="placeholder=='imageUrl'" src="{{inputText}}" alt="">
</div>
<br/>