<div style="position:relative" *ngFor="let item of list">
    <p class='cursor-pointer' (click)="onItemEvent(item)">{{item.label}}</p>
    <recursive-drop-list (onItemEvent)="onItemEvent($event)" style="position:relative;left:20px" *ngIf='item.sublist' [list]='item.sublist'></recursive-drop-list>
</div>