<mat-card class="m-3">
    <mat-card-content>
        <app-admin-update-input (onChange)="onFieldUpdate($event)" *ngFor="let field of itemFields" [field]="field"></app-admin-update-input>
        <br/>

        <div *ngIf="showNewinputField">
            <hr/>
            <mat-form-field class="w-100">
                <input [(ngModel)]="newFieldInput" matInput placeholder="Field Name">
            </mat-form-field>

            <div>
                <hr/>
                <button (click)="cancelNewField()" mat-button>Cancel</button>
                <button (click)="addNewField()" mat-button>Add New Field</button>
                <hr/>
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <button (click)="addField()" mat-button>Add Field</button>
        <button color='primary' (click)="save()" mat-raised-button>Save</button>
    </mat-card-actions>
</mat-card>