<div style="position:relative" *ngFor="let item of list">
    <p class='cursor-pointer' (click)="onItemEvent(item)">{{item[props.dropLabel]}}</p>
    <recursive-fire-drop (onItemEvent)="onItemEvent($event)" style="position:relative;left:20px" *ngIf='item.subListConfig' [firebase]='firebase' [props]='item.subListConfig'></recursive-fire-drop>
</div>