<div class="h-100 w-100 d-flex flex-column o-hidden">
    <app-topbar (onLogout)="onLogout(event)"></app-topbar>
    <!-- <div *ngIf="collectionId" class="d-flex m-3">
        <button (click)="goToAddItem()" mat-raised-button color="primary">Add</button> &nbsp;&nbsp;
        <mat-form-field class="w-100">
            <input [(ngModel)]="searchTerm" matInput placeholder="Search">
        </mat-form-field>
    </div> -->
    <div class="d-flex flex-1">
        <div class="h-100 o-hidden">
            <mat-tab-group (selectedTabChange)="onTabChange($event)" class="h-100">
                <mat-tab label="Cognition" class="scroll-y">
                    <mat-card class="m-3">
                        <mat-card-content>
                            <recursive-fire-drop (onItemEvent)="onItemEvent($event)" [firebase]="firebase" [props]='CognitionAreasOfConcentraionParams'></recursive-fire-drop>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Language And Communication" class="scroll-y">
                    <mat-card class="m-3">
                        <mat-card-content>
                            <recursive-fire-drop (onItemEvent)="onItemEvent($event)" [firebase]="firebase" [props]='LanguageAndCommunicationAreasOfConcentraionParams'></recursive-fire-drop>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="h-100 d-flex flex-column flex-1">
            <mat-card class="m-3">
                <mat-card-header>
                    {{buttonFLexProps[0].title}}
                </mat-card-header>
                <mat-card-content>
                    <fire-button-flex *ngFor="let buttonFLexProp of buttonFLexProps" [firebase]='firebase' [props]='buttonFLexProp' (onItemEvent)="onButtonItemEvent($event)"></fire-button-flex>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="goToAddItem()" mat-raised-button color="primary">Add  {{buttonFLexProps[0].collectionId}}</button>
                </mat-card-actions>
            </mat-card>
            <div class="flex-1 scroll-y">
                <jitsu-fire-cards *ngFor="let buttonFLexProp of buttonFLexProps" [customActions]='customActions' [firebase]='firebase' [props]='buttonFLexProp' (onCardAction)="onCardAction($event)" class="flex-1 d-flex flex-column  o-hidden"> </jitsu-fire-cards>
            </div>
        </div>
    </div>
</div>