<mat-card>
    <mat-form-field class="w-100">
        <input [(ngModel)]="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="w-100">
        <input [(ngModel)]="password" type="password" matInput placeholder="Password">
    </mat-form-field>
    <hr/>
    <button (click)="emailSignIn()" mat-raised-button color="primary">Login</button>
</mat-card>