<div class="h-100 w-100 d-flex flex-column o-hidden">
    <app-topbar (onLogout)="onLogout(event)" (onClickHome)="onClickHome(event)" [title]='title'></app-topbar>
    <div class="flex-1 scroll-y">
        <question-edit-form (onEditEvent)="onEditEvent($event)" *ngIf="widgetProps && widgetProps.collectionId==='questions'" [props]='widgetProps'></question-edit-form>
        <jitsu-form-fire *ngIf='collectionId' [itemFields]='itemFields' [collectionId]='collectionId' [firebase]='firebase' [itemId]='itemId' (onAddNewFeild)="onAddNewFeild($event)" (onPressSave)="onPressSave($event)"></jitsu-form-fire>
        <jitsu-fire-upload *ngIf='collectionId' [collectionId]='collectionId' [firebase]='firebase' [itemId]='itemId' (onFileData)="onFileData($event)"></jitsu-fire-upload>
        <br>
        <br>
        <br>
        <br>
    </div>