<mat-card class="m-3">
    <mat-card-header class="d-flex align-items-center">
        <mat-card-title>Multiple Choice</mat-card-title>
        <mat-card-subtitle *ngIf='itemData'>{{itemData.questionText}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button class='m-3' (click)="saveOptions(option)" mat-raised-button color="primary">Save Multiple Choice Options</button>
        <button class='m-3' (click)="addNewOption(option)" mat-raised-button color="primary"> Add New Option</button>
    </mat-card-actions>
    <mat-card-content class='d-flex flex-wrap scroll-y'>
        <mat-card *ngFor='let option of multipleChoiceOptions' class="m-3">
            <mat-card-header>
                <mat-card-title>
                    <mat-form-field class="w-100">
                        <input [(ngModel)]="option.name" matInput>
                    </mat-form-field>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class='d-flex justify-content-center'>
                <mat-checkbox [(ngModel)]="option.isAnswer"></mat-checkbox>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="removeOptions(option)" mat-icon-button>
                    <mat-icon aria-label="delete">delete</mat-icon>
                  </button>
            </mat-card-actions>
        </mat-card>
    </mat-card-content>
</mat-card>