<div class="flex-1 scroll-y">
    <mat-card class="m-3" *ngFor="let card of cards">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content *ngIf="card.itemFields!=null">
            <div class="w-100" *ngFor="let field of card.itemFields">
                <div class="w-100 row">
                    <div class="col-md-6">
                        {{field.fieldName}}
                    </div>
                    <div *ngIf="field.fieldName!='imageUrl'" class="col-md-6">
                        {{field.fieldValue}}
                    </div>
                    <div *ngIf="field.fieldName=='imageUrl'" class="col-md-6">
                        <img style="height:100px" src="{{field.fieldValue}}" alt="">
                    </div>
                </div>
                <hr/>
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="customActions && customActions.length">
            <button *ngFor="let action of customActions" (click)="onAdminCardAction(action,card)" mat-button>{{action.label}}</button>
        </mat-card-actions>
    </mat-card>
</div>